.rectangle{
  margin-left: auto;
  margin-right: auto;
  width: 6em
  
  
  border: 1px solid #d7d7d7;
  background-color: #ffffff;
}

.img{
  display: inline-block;
  margin-top: 64px;
  margin-left: 48px;
  margin-right: 102px;
  }

.item{
  display: inline-block;
  width: 360px;
  height: 300px;
  
}

.name{
  color: #2f2f2f;
  font-size: 23px;
  font-weight: 400;
}

.desc{
  margin-top: 30px;
  width: 393px;
  height: 50px;
  color: #2f2f2f;
  font-size: 15px;
  font-weight: 400;
}

.price{
  margin-top: 55px;
  width: 35px;
  height: 14px;
  color: #2f2f2f;
  font-family: "Arial MT";
  font-size: 15px;
  font-weight: 400;
}

.price_rub{
  margin-top: 23px;
  width: 103px;
  height: 28px;
  color: #2f2f2f;
  font-size: 30px;
  font-weight: 400;
}

.button{
  margin-top: 23px;
  width: 252px;
  height: 50px;
  background-color: #ec744a;
  font-size: 19px;
  font-weight: 400;
  color: #ffffff;
}

